<ion-view view-title="Dashboard">
	<ion-content class="padding">
		<div class="card">
			<div class="item item-text-wrap">
				Timer
			</div>
			<div class="item item-divider">
				<div class="item-button-left padding">
					<button class="button">
						<i class="icon ion-loading-c"></i> Play
					</button>					
				</div>
				<div class="item-button-right padding">
					<button class="button">
						<i class="icon ion-loading-c"></i> Clock
					</button>					
				</div>

			</div>
		</div>
		<div class="list">
			<div class="item item-button-right">
				<label class="item item-input padding">
					<input type="text" placeholder="Some LAbel">
				</label>
				<button class="button button-assertive">
					Remove
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>
