<ion-view view-title="TimeStop" ng-controller="clockTimerCtrl as timer">
	<ion-content class="padding">
		<div class="card">
			<div class="item item-text-wrap digital-clock clock">{{timer.theclock}}</div>
			<div class="item item-divider padding-vertical">
				<div class="item-button-left padding">
					<button class="button" ng-click="timer.activateTimer()">
						<i class="icon ion-ios-play padding-right"></i> Play
					</button>					
				</div>
				<div class="item-button-right padding">
					<button class="button" ng-click="timer.addLap()">
						<i class="icon ion-android-stopwatch"></i>
					</button>					
				</div>

			</div>
		</div>
		<div class="list">
			<div class="item item-button-right row row-center" ng-repeat="lapItem in timer.lapsList">
				<div ng-bind="lapItem.stopTime"></div>
				<label class="item item-input col col col-center col-75">
					<input type="text" ng-model="lapItem.title" placeholder="Some LAbel">
				</label>
				<button class="button button-assertive" ng-click="timer.removeLap(lapItem)">
					Remove
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>
